<h2>Log in</h2>

<% if (errorMessage) { %>
  <p class="error-message">
    <%= errorMessage %>
  </p>
<% } %>

<!-- <div class="container">
  <div class="row">
    <div class="col-sm-6 centered-form">
      <form action="/login" method="post">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" class="form-control">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control">
        </div>

        <button type="submit">Login</button>
      </form>
    </div>
  </div>
  <p>
    Don't have an account?
    <a href="/signup">
      Create an account.
    </a>
  </p>
</div> -->

<div class="container">
  <div class="row main">
    <div class="main-login main-center">
      <div class="col-md-4 col-md-offset-4">
        <h5>Sign up once and watch any of our free demos.</h5>
            <form action="/login" method="post">

              <div class="form-group">
                <label for="email" class="cols-sm-2 control-label">Your Email</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                    <input type="email" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
                  </div>
                </div>
              </div>


              <div class="form-group">
                <label for="password" class="cols-sm-2 control-label">Password</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
                  </div>
                </div>
              </div>

              <div class="form-group ">
                <button type="submit">Login</button>
              </div>


          <p>
            Don't have an account?
            <a href="/signup">
              Create an account.
            </a>
          </p>

        </form>
      </div>
    </div>
  </div>
</div>

 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
