<form action="/add" method="post">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" value="">

  <label for="image-url">Image URL</label>
  <input type="text" name="imageUrl" id="imageUrl" value="">

  <label for="unit">Unit</label>
  <input type="String" name="unit" id="unit" value="">

  <label for="unitPrice">UnitPrice</label>
  <input type="Number" name="unitPrice" id="unitPrice" value="">

  <label for="category">Category</label>
  <select name="category" id="category">
    <option value="Fruits">Fruits</option>
    <option value="Vegetables">Vegetables</option>
    <option value="Animal Products">Animal Products</option>
  </select>

  <label for="availableQty">AvailableQty</label>
  <input type="Number" name="availableQty" id="availableQty" value="">

  <label for="deadline">Deadline</label>
  <input type="Date" name="deadline" id="deadline" value="">

  <label for="location">Location</label>
  <input type="String" name="location" id="location" value="">

  <!-- <label for="producer">Producer</label>
  <input type="string" name="producer" id="producer" value=""> -->

  <label for="description">Description</label>
  <textarea type="text" name="description" id="description"></textarea>

  <button type="submit">Create Product</button>
</form>
