<form action="/add" method="post" enctype="multipart/form-data">
<div class="col-md-3 col-md-offset-3">
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" id="name" name="name" value="">
    </div>

    <div class="form-group">
        <label for="unit">Unit</label>
        <select class="form-control" name="unit" id="unit">
          <option value="kg">Kg</option>
          <option value="litro">L</option>
        </select>
    </div>

    <div class="form-group">
        <label for="unitPrice">UnitPrice</label>
        <input class="form-control" type="Number" name="unitPrice" id="unitPrice" value="">
    </div>

    <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" name="category" id="category">
          <option value="Fruits">Fruits</option>
          <option value="Vegetables">Vegetables</option>
          <option value="Animal Products">Animal Products</option>
        </select>
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <label for="availableQty">AvailableQty</label>
        <input class="form-control" type="Number" name="availableQty" id="availableQty" value="">
    </div>

    <div class="form-group">
        <label for="deadline">Deadline</label>
        <input  class="form-control" type="Date" name="deadline" id="deadline" value="">
    </div>

    <div class="form-group">
      <label for="location">Location</label>
      <select class="form-control" name="location" id="location">
    		<option value="">provincia</option>
    		<option value="A coruña">A coruña</option>
    		<option value="Álava">Álava</option>
    		<option value="Albacete">Albacete</option>
    		<option value="Alicante">Alicante</option>
    		<option value="Almería">Almería</option>
    		<option value="Asturias">Asturias</option>
    		<option value="Ávila">Ávila</option>
    		<option value="Badajoz">Badajoz</option>
    		<option value="Baleares">Baleares</option>
    		<option value="Barcelona">Barcelona</option>
    		<option value="Burgos">Burgos</option>
    		<option value="Cáceres">Cáceres</option>
    		<option value="Cádiz">Cádiz</option>
    		<option value="Cantabria">Cantabria</option>
    		<option value="Castellón">Castellón</option>
    		<option value="Ceuta">Ceuta</option>
    		<option value="Ciudad Real">Ciudad Real</option>
    		<option value="Córdoba">Córdoba</option>
    		<option value="Cuenca">Cuenca</option>
    		<option value="Girona">Girona</option>
    		<option value="Granada">Granada</option>
    		<option value="Guadalajara">Guadalajara</option>
    		<option value="Guipúzcoa">Guipúzcoa</option>
    		<option value="Huelva">Huelva</option>
    		<option value="Huesca">Huesca</option>
    		<option value="Jaén">Jaén</option>
    		<option value="La rioja">La rioja</option>
    		<option value="Las palmas">Las palmas</option>
    		<option value="León">León</option>
    		<option value="Lleida">Lleida</option>
    		<option value="Lugo">Lugo</option>
    		<option value="Madrid">Madrid</option>
    		<option value="Málaga">Málaga</option>
    		<option value="Melilla">Melilla</option>
    		<option value="Murcia">Murcia</option>
    		<option value="Navarra">Navarra</option>
    		<option value="Ourense">Ourense</option>
    		<option value="Palencia">Palencia</option>
    		<option value="Pontevedra">Pontevedra</option>
    		<option value="Salamanca">Salamanca</option>
    		<option value="Segovia">Segovia</option>
    		<option value="Sevilla">Sevilla</option>
    		<option value="Soria">Soria</option>
    		<option value="Tarragona">Tarragona</option>
        <option value="Tenerife">Tenerife</option>
    		<option value="Teruel">Teruel</option>
    		<option value="Toledo">Toledo</option>
    		<option value="Valencia">Valencia</option>
    		<option value="Valladolid">Valladolid</option>
    		<option value="Vizcaya">Vizcaya</option>
    		<option value="Zamora">Zamora</option>
    		<option value="Zaragoza">Zaragoza</option>
    	</select>
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" type="text" name="description" id="description"></textarea>
    </div>

    <div class="form-group">
        <label for="image-url">Seleccione foto</label>
        <input class="btn btn-default" type="file" name="image">
    </div>
    <button type="submit" class="btn btn-success">Create Product</button>
</div>

</div>

</form>
