body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*Barra de navegacion*/
.navbar-inverse {
    background-color: #3c763d;
    border-color: #00261C;
  }

.jumbotron {
  height: 348px;
  background-image: url(../img/cabcera.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.tamañoImg{
  
}
